html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

#editor-container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 112px;
    overflow: hidden;
}

#editor {
    position: absolute;
    background-color: #fff;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 40px;
    padding-left: 40px;
    box-sizing: border-box;
    width: 50%;
    height: calc(100% - 112px);
}

#editor:focus {
    outline: none;
}

#title {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 1;
}

#title-input {
    width: 100%;
    font-size: 32px;
    padding: 12px;
    padding-top: 20px;
    padding-left: 20px;
    border: none;
    outline: none;
    background-color: #fff;
}

#title-input:focus {
    outline: none;
}

#toolbar {
    position: absolute;
    top: 64px;
    left: 0;
    width: 50%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    background-color: #ebebeb;
    border-bottom: none;
    box-sizing: border-box;
    z-index: 1;
    font-weight: bold;
}

#preview {
    width: 50%;
    height: 100%;
    background-color: #FCF9F0;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 40px;
    padding-left: 40px;
    border-left: none;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #bfbfbf;
    border-radius: 3px;
}

#insert-image-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 12px;
    margin-right: 12px;
    font-size: 20px;
    color: #666;
    transition: color 0.2s;
}

#insert-image-btn:hover::before {
    content: "插入图片";
    position: absolute;
    top: -40px;
    left: calc(0.5%);
    padding: 8px;
    background-color: #3b3b3b;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    z-index: 2;
    opacity: 0.86;
}

#insert-image-btn:hover {
    color: #d8d8d8;
    background-color: #4d4d4d;
}

.hljs {
    position: relative;
}

.hljs::before {
    content: attr(data-line-number);
    position: absolute;
    left: 0;
    top: 0;
    width: 2em;
    padding-right: 0.5em;
    text-align: right;
    color: #999;
    pointer-events: none;
}

.hljs-ln-numbers {
    display: inline-block !important;
    width: 2em !important;
    user-select: none !important;
    opacity: 0.5 !important;
    text-align: right !important;
    margin-right: 0.5em !important;
    border-right: 1px solid #ccc !important;
}


pre {
    position: relative;
    border-radius: 3px;
    margin-bottom: 20px;
}

pre::before {
    content: attr(data-line);
    display: inline-block;
    width: 4em;
    padding-right: 1em;
    text-align: right;
    color: #999;
}

pre .code-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 6px;
    background-color: #7f7f7f;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
}

pre code {
    display: block;
    padding: 10px;
    background-color: #282c34;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #ffffff;
    overflow-x: auto;
    position: relative;
}

.copy-code-btn {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    padding: 2px 6px;
    margin-left: auto;
    /* 添加此行来将复制按钮移到右边 */
}

.copy-code-btn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

img {
    display: block;
    margin: 0 auto;
}

blockquote {
    background-color: #f8f8f8;
    border-left: 4px solid #ccc;
    margin: 0;
    padding: 0.5em 1em;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-bottom: 1em;
}

td,
th {
    padding: 0.5em;
    border: 1px solid #ccc;
}

#context-menu {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 4px 0;
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.context-menu-item {
    padding: 4px 12px;
    cursor: pointer;
}

.context-menu-item:hover {
    background-color: #f6f6f6;
}